@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto exemplo.</p>
<strong>Created by: </strong> <a href="http://www.linkedin.com/in/vieirafernando2021">Fernando Vieira</a>
